<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 text-light">
            <h2>About the <strong>SkyPulse</strong> 🌤️</h2>
            <p>
                Welcome to SkyPulse, your ultimate weather forecasting tool! Whether you're planning your week,
                preparing for outdoor activities, or just curious about the weather, SkyPulse is here to help.
            </p>
            <p>
                Our app provides accurate, up-to-date weather forecasts to help you stay prepared for any weather
                conditions. With SkyPulse, you can:
            </p>
            <ul>
                <li>Check daily and weekly weather forecasts.</li>
                <li>View detailed weather information for multiple locations.</li>
                <li>Receive severe weather alerts to keep you safe.</li>
            </ul>
            <p>
                SkyPulse is powered by advanced meteorological data sources, offering you reliable and precise
                weather updates at your fingertips.
            </p>
            <p>
                For more information on how to use SkyPulse or to report issues, please visit our GitHub repository
                <a href="https://github.com/tellxmaster/fullstack_angular_nodejs" target="_blank"
                    class="btn btn-dark btn-sm">
                    <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-apps/32/github-icon.png"
                        alt="GitHub Logo" style="height: 18px; margin-right: 5px;">
                    <strong>SkyPulse V.1.0 GitHub</strong>
                </a>

            </p>
        </div>
    </div>
</div>